
/*.main-content__row {
    display: flex;
}

.main-content__row--reversed {
   flex-direction: row-reverse;
}

.card {
    display: block;
    background-color: antiquewhite;
    width:48%;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top:20px;
}

.card__button {
    background-color: black;
    color: yellow;
}*/